.tekst {
  color: white;
}
.grey {
  color: rgba(117, 117, 117, 1);
}

.social-link {
  color: rgba(117, 117, 117, 1);
  text-decoration: none;
  font-weight: 500;
}
.social-link:hover,
.social-link:focus {
  color: rgba(33, 150, 243, 1);
}
.link {
  color: rgba(33, 33, 33, 1)
  ;
  text-decoration: none;
  font-weight: 700;
  cursor:pointer}

.link:hover {
  background-color: blue;
  color: white;

}
.link-black {
  color: black;
  text-decoration: none;
}
.link-black:hover {
  color: rgba(33, 150, 243, 1);
}

body {
  font-family: "Roboto";
  color:
  rgba(33, 33, 33, 1)
}
h5 {
  font-family: "Raleway"

font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px

}
.line-heigh {
    font-heigh: 1,5;
}

a{ font-weight: 500;}

h2 {
    font-weight: 700;
}

h1{
    font-weight: 900;
}
p{
    
    color:#757575;
    letter-spacing: 0,03em;
    font-size: 14px;
line-height: 24px;
    font-weight: 400;
}