:root {
  --brand-color: rgba(33, 33, 33, 1);
  --light-color: rgba(33, 150, 243, 1);
  --subtitle-color: rgba(117, 117, 117, 1);
  --white-color: rgba(255, 255, 255, 1);
  --background-color: rgba(47, 48, 58, 1);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  line-height: 1.5;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
}

.caption {
  color: var(--subtitle-color);
  font-weight: 400;
  line-height: 1.5;
}
.title {
  font-weight: 700;
  font-size: 16px;
}
.name {
  font-weight: 500;
  font-size: 16px;
}
.text {
  color: var(--white-color);
  font-weight: 900;
}

.social-link {
  color: var(--subtitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.social-link:hover,
.social-link:focus {
  color: var(--light-color);
}
.link {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-weight: 16px;
}

.link:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}
.link-black {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.link-black:hover {
  color: var(--light-color);
}
.light {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--light-color);
}
.light-black {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--brand-color);
}

.logo-dark {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--white-color);
}
ul {
  list-style: none;
  display: inline;
}

.middle {
  width: 1600px;
  height: 300px;
  left: 0px;
  top: 80px;
  background-color: var(--background-color);
}

.foot {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background-color: var(--background-color);
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line {
  display: flex;
  justify-content: center;
}
