body {
  font-family: "Roboto";
  color: rgba(33, 33, 33, 1);
}

.line-heigh {
  font-heigh: 1, 5;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
}

.caption {
  color: #757575;
  font-weight: 400;
}
.title {
  font-weight: 700;
  font-size: 16px;
}
.name {
  font-weight: 500;
  font-size: 16px;
}
.text {
  color: white;
  font-weight: 900;
}
.grey {
  color: rgba(117, 117, 117, 1);
}

.social-link {
  color: rgba(117, 117, 117, 1);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.social-link:hover,
.social-link:focus {
  color: rgba(33, 150, 243, 1);
}
.link {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-weight: 16px;
}

.link:hover {
  background-color: rgba(33, 150, 243, 1);
  color: white;
}
.link-black {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.link-black:hover {
  color: rgba(33, 150, 243, 1);
}
.light {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: rgba(33, 150, 243, 1);
}

.logo: {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

ul {
  list-style: none;
  display: inline;
}
