:root {
  --brand-color: rgba(33, 33, 33, 1);
  --light-color: rgba(33, 150, 243, 1);
  --subtitle-color: rgba(117, 117, 117, 1);
  --white-color: rgba(255, 255, 255, 1);
  --background-color: rgba(47, 48, 58, 1);
  --background-color-button: rgba(245, 244, 250, 1);
  --photo-border: 
  rgba(238, 238, 238, 1);
}
*,
*::after *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--brand-color);
  background-color: var(--white-color);
}
ul {
  list-style: none;
}
.container {
  width: 1200px;
 margin:0 auto;

}
.section{
padding-bottom: 94px;
padding-top:94px;

  }

/* Only Studio */

.social-link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--light-color);
  cursor: pointer;
  padding-right: 46px;
}
.social-link:hover,
.social-link:focus {
  color: var(--light-color);
}
.social-link-five{
  color: var(--subtitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;

}
.link-black-two {
  font-family: "Roboto";
  font-weight: 500;
  color: var(--light-color);
  text-decoration: none;
  display:flex;
  padding-right: 46px;

}

.link-black-seven {
  font-family: "Roboto";
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  padding-right: 46px;
}
.link-black-four {
  font-family: "Roboto";
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  padding-right: 46px;
}

.name {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  
  
}
.caption-team {
  color: var(--subtitle-color);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  padding-bottom: 30px;
margin-bottom:10px;
  
}
figure{ margin:0;}

.item {
  font-weight: 400px;
  font-size: 14px;
  width: 270px;
  height: 101px;
  letter-spacing: 0.03em;
 padding:0;
 
}
.card-set> ul {

 flex-wrap: wrap;
 display: flex;
gap:30px;
padding: 0;
justify-content: center;
}

.surname {
  font-weight: 700;
  font-size: 14px;
  width: 270px;
  height: 16px;
  
  

}
.caption {
  color: var(--subtitle-color);
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
text-align: left;


}

.section-middle {
  background-color: var(--background-color);
 padding-top: 94px;
padding-bottom: 94px;
text-align: center;
}
.text {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
    padding-top: 104px;
}
.no-active-blue {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--light-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 114px;
  cursor: pointer;
 
}



.section-job-team{

  padding-top:94px;
  padding-bottom: 94px;
  display: flex;

  flex-wrap: wrap;
  gap:30px;
}


.section-work-team {
 
  padding-top:94px;
  padding-bottom: 94px;
  display: flex;

  background-color: var(--background-color-button);
}
.team-images {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 47px;
  background-color: var(--white-color);
 }

  .img-team{

 display: flex;
justify-content: space-between;
}
.team {
  text-align: center;
  font-weight: 700;
  font-size: 36px;

}
.work-team-photo>ul {
 
  display: flex;
  
  list-style: none;
  flex-wrap: wrap;
  gap:30px;
  padding:0;
  margin-top: 47px;
}
.subtitle-one {
  font-weight: 700;
  font-size: 36px;

  text-align: center;
  margin-bottom: 50px;
  line-height: 1.5;
}


.down-link a {
  padding-top: 9px;
}



/* Portfolio i Studio */


.section-main {
  display: flex;
 align-items: center;
 justify-content: left;
}
.main{
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}



.logo-footer{
  font-family: "Raleway";
margin-bottom: 20px;
padding-top:60px;
}
.light {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--light-color);
  text-decoration: none;
  
}

.light-black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--brand-color);
  text-decoration: none;
}

.logo-dark {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--white-color);
}

.social-link-four {
  display: flex;
  color: var(--subtitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  padding-left: 50px;
}
.social-link-two {
  color: var(--subtitle-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
 
  
}
.line-one {

  display: flex;
 padding-left: 371px;

}

.line-one-nav {

  list-style: none;
  display: flex;
  padding-left: 93px;
}


.section-foot {

padding:60px;
  background-color: var(--background-color);
  font-size: 14px;
}
.text-adress {
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-top: 20px;
}




/* Only Portfolio */

.section-portfolio{
  padding-top:94px;
  padding-bottom: 94px;
 
}
.social-link-three {
  color: var(--subtitle-color);
  font-weight: 500;
  font-size: 14px;
  height: 252px;
}


.link-black-three {
  font-family: "Roboto";
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line height:16px;
  cursor: pointer;
  text-decoration: none;
  padding-right: 46px;
}

.link-black-five {
  font-family: "Roboto";
  color: var(--light-color);
  text-decoration: none;
  font-weight: 500;
  line height:16px;
  padding-right: 46px;
}
.link-black-six {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  line height:16px;
letter-spacing: 0.02em;
 
padding-right: 46px;
}
.line-buttons {
  display: flex;
 justify-content: center;
  

}
.portfolio-middle{
  width: 1170px;
  height: 1288px;
 
}
.main-portfolio{
  
  display:flex;
  gap:30px;
 flex-wrap: wrap;
 justify-content: center;
}
.pictures > img{
  display: flex;
  margin-top: 56px;
  
}
.box{
  height:110px;
  display: block;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--photo-border);
  border-bottom-width: 1px ;
  border-bottom-style: solid;
  border-bottom-color: var(--photo-border);
  border-left-width: 1px ; 
  border-left-style: solid;
  border-left-color: var(--photo-border);

}

 

.link {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
 
  border-style: none;
  border-radius: 4px;
  border-style: none;
padding: 6px 22px;
margin-left: 8px;
 
}
.link:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}
.no-active-one {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--background-color-button);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  padding: 6px 22px;
}
.no-active-one:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}
.no-active-two {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--background-color-button);
  border-radius: 4px;
  border-style: none;
padding: 6px 22px;
margin-left: 8px;
  cursor: pointer;

}
.no-active-two:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}
.no-active-three {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--background-color-button);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  
padding: 6px 22px;
}
.no-active-three:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}
.no-active-four {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--background-color-button);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;

padding: 6px 22px;
}
.no-active-four:hover {
  background-color: var(--light-color);
  color: var(--white-color);
}
.title {
  font-weight: 700;
  font-size: 16px;
  width: 322px;
  height: 36px;
  margin-left: 24px;
  padding-top: 20px;
  
}
.caption-two{
  color: var(--subtitle-color);
  font-weight: 400;
  
  width: 322px;
  height: 30px;
  margin-top:4px;
  margin-left: 24px;
  
  padding-top: 4px;
}
