*,
*::after *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  line-height: 1.5;
  color: var(--brand-color);
  background-color: var(--white-color);
}
ul {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
