:root {
  --brand-color: rgba(33, 33, 33, 1);
  --light-color: rgba(33, 150, 243, 1);
  --subtitle-color: rgba(117, 117, 117, 1);
  --white-color: rgba(255, 255, 255, 1);
  --background-color: rgba(47, 48, 58, 1);
  --background-color-button: rgba(245, 244, 250, 1);
  --photo-border: rgba(238, 238, 238, 1);
  --background-social: rgba(255, 255, 255, 0.1);
  --clients: rgba(175, 177, 184, 1);
  --work-team-photo: rgba(47, 48, 58, 0.8);
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

@mixin transition {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
*,
*::after *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
