@mixin transition {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main {
  border-bottom: 1px solid #ececec;
}
.portfolio {
  padding-top: 94px;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons__item {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--background-color-button);
  border-style: none;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  margin-left: 8px;
  @include transition;

  &:hover {
    background-color: var(--light-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-middle {
  padding-top: 34px;
  padding-bottom: 94px;
  display: flex;
}
.page-middle {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 30px;
  flex-wrap: wrap;
}

.page-middle__image {
  background-color: var(--white-color);
  border: 1px solid #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--photo-border);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--photo-border);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--photo-border);
  @include transition;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: var(--white-color);
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    @include transition;
  }
}
.page-middle__image > img {
  display: block;
}

.page-middle__image:hover .overlay {
  transform: translateY(0);
}
.overlay {
  background-color: var(--light-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 295px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  margin-top: 49px;
  margin-left: 24px;
}
.overlay__title {
  font-weight: 700;
  font-size: 16px;
  background-color: var(--white-color);
  padding-left: 24px;
  padding-top: 20px;
  position: relative;
  margin: 0;
}
.overlay__caption {
  color: var(--subtitle-color);
  font-weight: 400;
  background-color: var(--white-color);
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
  position: relative;
  margin: 0;
}

.footer-contacts__mail {
  color: var(--subtitle-color);
  font-weight: 500;
  font-size: 14px;
}
